*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    max-width: 100%;
    list-style: none;
    text-decoration: none;
    overflow: hidden;
}

.estrutura{
    height: 100vh;
}

.topo{
    background-color: #4169E1;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo a{
    margin-left:  45px;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
}

.login{
    padding: 20px;
}

.login a{
    margin-right: 15px;
    color: skyblue;
    border: solid 1px ;
    padding: 3px;
    border-radius: 5px;
}

.login a:hover{
    background-color: rgba(18, 18, 233, 0.548);

}

main{
    display: flex;
    overflow-y:  hidden;
}

.side-bar{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #DCDCDC;
    color: white;
    height: 100vh;
    overflow-y: scroll;
    width: 250px;
    overflow-x: hidden;
    align-items: center;
}
.centro{
    display: flex;
    width: 100%;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background: greenyellow;
}

.login input{
    border: solid 1px greenyellow;
    width: 190px;
    height: 25px;
    position: relative;
    border-radius: 5px;
    outline: none;
}

.login button{
    width: 30px;
    height: 25px;
    background-color: mediumseagreen;
    border:none;
    cursor: pointer;
    margin-right: 20px;

}

.side-bar img{
    border-bottom: solid 1px greenyellow;
    height: 150px;
}

.side-bar a{
    border: solid 1px #F4F4F4;
    padding: 10px 100%;
    color:grey;
}

.side-bar a:hover{
    background-color: rgba(198, 198, 199, 0.548);
    transition: all 0.5s;
}

.p1{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10PX;
    border-bottom: solid 1px rgba(198, 198, 199, 1);
}

.p1 a{
    color: black;
    font-size: 18px;
}

.p2{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 15px;
    border-bottom: solid 1px rgba(198, 198, 199, 1);
    font-size: 19px;
}

.p2 img{
    max-height: 20px;
}


.busca2 a{
    color:grey;
}

.tabela{
    padding: 10px;
    font-size: 20px;
    color: #4169E1;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th{
    border: solid 1px black;
    padding: 10px;
}

td{
    padding: 5px;
    text-align: center;
}

.t1{
    background-color: #ADD8E6;
    border-bottom: solid 1px black;
}
